<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>2</string>
		<key>explain</key>
		<string>如果在国外打架，你很有可能在警局留下案底，未来将影响你再次入境旅游、留学甚至移民该国家；如果因下手过重给其他同学造成不可挽回的伤害将后悔莫及，所以任何情况下不能打架。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>团队内的两位同学因为某些小事而打架，这种行为对不对？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1</string>
		<key>explain</key>
		<string>左行驶国家和右行驶国家的交通规则正好相反，所以最保险的方法就是左右都观察一下路况再过马路哟。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>在左行驶国家，过马路时最安全的办法就是：左看看右看看，确保安全再通过。</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1</string>
		<key>explain</key>
		<string>在国外，各种环境我们都不熟悉，尤其是在水深、水温、水质不了解的情况下下水游泳很容易发生意外，况且很多地方都没有救生员，所以最安全的就是不去游泳。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>确保安全，除了游学活动中安排的水上项目，同学们不得在任何场合的泳池或海边游泳，这个说法对吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>2</string>
		<key>explain</key>
		<string>国外的道路规划比较复杂，很容易导致迷路；而且国外的人种复杂，如果遇到坏人就非常危险了呢。所以任何情况下不能脱团。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>在游学的过程中，如果有自己的计划就可以单独行动，因为脱团是没危险的。</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1</string>
		<key>explain</key>
		<string>玩手机和听歌都会让你分神，容易出现交通事故；而在没有斑马线的地方，司机开车速度会很快，路况是非常危险的；所以在任何情况下过马路都要集中精神，并且要找斑马线。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>走路的时候要关注路况和周围的环境，一定不能玩手机、听歌等；并且在没有斑马线的地方是绝对不能横穿马路，这种做法对吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>2</string>
		<key>explain</key>
		<string>安全带是在出现意外时能最大程度保护我们不受伤害的措施，虽然交通意外是小概率事件，但是我们也不能拿安全开玩笑，所以在任何情况下，乘坐任何交通工具都要系好安全带。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>乘坐飞机、大巴，或者是小汽车时，我都不太喜欢系安全带，因为不及安全带也不会有什么安全隐患，这个说法是正确的吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>2</string>
		<key>explain</key>
		<string>国外的地铁一般没有安全门，站台都是开放的空间，如果和小伙伴嬉戏打闹，很有可能跌落站台，所以在任何等车的情况下都不能和小伙伴嬉戏打闹。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>等地铁或公交车的时间总是很无聊，如果这时在车站和小伙伴们嬉戏打闹一番，可以打发无聊的时间，也不会出现危险，这种说法对吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>2</string>
		<key>explain</key>
		<string>毕竟国外的人种复杂，如果遇到坏人就非常危险了呢，甚至小商贩也会出现强买强卖的行为哦，所以在任何情况下都不能随便主动和陌生人搭讪。如果要问路，也要和小伙伴结伴而行，并且尽量找爷爷、奶奶等老人问路。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>既然到了国外，我就要好好练习我的英文表达能力，所以在马路上见到陌生人我就会主动上前搭讪，或者和马路边的小商贩闲聊，这种做法对吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1</string>
		<key>explain</key>
		<string>当你的小伙伴发生意外时，大声呼救是最好的办法，因为外国人都非常热心，他们会帮助我们度过难关的。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>如果我的小伙伴发生意外，我第一时间要做的是大声呼救，这种做法对吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1</string>
		<key>explain</key>
		<string>因为我们每个人的身体体质不同，对药品的反应也各不相同，例如有人对青霉素过敏，有人就不对青霉素过敏，所以在你生病的情况下不要随便服用同学和老师随身携带的药品，而是要找医生。</string>
		<key>selectArr</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>title</key>
		<string>每个孩子的身体体质是不一样的，对食物或者药物的过敏情况是各不相同的，所以，如果身体不适的时候，不能随便服用领队老师或其他同学随身携带的药品，这种做法正确吗?</string>
	</dict>
</array>
</plist>
